.contact {
    margin-bottom: 20px;
    margin-top: 20px;
    gap: 30px;
    outline-style: groove;
    background-color: #2879fe;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: center;

    .wrapper {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span{
            position: relative;
            left: 110px;
            margin-right: 10px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        input {
            padding: 10px;
            border: none;
            border-radius: 5px 0 0 5px;
        }

        button {
            padding: 10px;
            color: white;
            background: grey;
            border-radius: 0 5px 5px 0;
            border: none;
            cursor: pointer;
        }

        .icons {
            justify-content: space-between;
            position: relative;
            right: 100px;
            size: 150%;
            display: flex;
            gap: 30px;
            cursor: pointer;
        }
    }
}