.navbar {
    height: 80px;
    

    .wrapper {
        padding: 10px 30px;
        display: flex; //makes them horizontaly
        justify-content: space-between; //seperates them on each side
        align-items: center;

        //common class name
        .item {
            display: flex;
            align-items: center;
            font-size: 18px;
        }

        .left {
            display: flex;
            align-items: center;
            gap: 25px;  //makes space between items
        }

        .center {
            font-size: 30px;
        }

        .right {
            display: flex;
            align-items: center;
            gap: 25px;
        }

        .icons {
            display: flex;
            gap: 15px;
            color: #777;
            cursor: pointer;

            .cartIcon {
                position: relative;  //makes the icon on the cart


                span{
                    font-size: 12px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%; //this makes circle
                    background-color: #2879fe;
                    color: white;
                    position: absolute;  //moving circle in the cart icon
                    right: -10px;
                    top: -10px;
                    display: flex;
                    justify-content: center;  // its gonna display it vertically, and horizontally
                    align-items: center;
                }
            }
        }
    }
}