.footer {
    outline-style: groove;
    background-color: black;
    padding: 15px;
            //top right bottom left

    .top{
        display: flex;
        gap: 50px;

        .item{
            flex: 1; // making items exactly the same size
            display: flex; //maiking them again vertical
            flex-direction: column;
            gap: 10px;
            text-align: justify; //maiking text look better
            font-size: 14px;
            text-align: center;


            h1 {
                font-size: 18px;
                font-weight: 500;
                color: whitesmoke;
                text-decoration: underline
                
            }

            span {
                color: white;
            }
        }
    }
    

    .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between; // moves the payment to the right
        margin-top: 50px; //moves copyright and payments to bottom
        
        .left{
            display: flex;
            align-items: center;
            margin-left: 40px;

            .logo {
                color: blue;
                font-size: 24px;
                font-weight: bold;
            }

            .copyright{
                margin-left: 20px;
                color: gray;
                font-size: 12px;
            }
        }
        .right{
            
            img {
                height: 50px;
                margin-right: 0px;
            }
        }
    }
}