.footer {
    margin: 100px 200px 20px 200px;
            //top right bottom left

    .top{
        display: flex;
        gap: 50px;

        .item{
            flex: 1; // maiking items exactly the same size
            display: flex; //maiking them again vertical
            flex-direction: column;
            gap: 10px;
            text-align: justify; //maiking text look better
            font-size: 14px;


            h1 {
                font-size: 18px;
                font-weight: 500;
                color: #555;
            }

            span {
                color: gray;
            }
        }
    }
    

    .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between; // moves the payment to the right
        margin-top: 50px; //moves copyright and payments to bottom
        
        .left{
            display: flex;
            align-items: center;

            .logo {
                color: blue;
                font-size: 24px;
                font-weight: bold;
            }

            .copyright{
                margin-left: 20px;
                color: gray;
                font-size: 12px;
            }
        }
        .right{
            
            img {
                height: 50px;
            }
        }
    }
}