.slider {
    height: calc(100vh - 80px);
    width: 100vw;
    position: relative;
    overflow: hidden;


    .container {
        width: 400vw;
        height: 100%;
        display: flex;
        transition: all 1s ease; //this makes the transition of images
        
        
        
        img {
            width: 100vw;
            height: 100%;
            object-fit: cover; // we dont change the proportion and makes it look better
        }
    }

    .icons {
        width: fit-content; // i need to make this because it's in 100vw
        display: flex; // this made them horizontal
        position: absolute; // putting arrows on the slider
        left: 0;
        right: 0;
        bottom: 100px;
        gap: 10px;
        margin: auto;  // this gonna make them centered
        cursor: pointer;


        .icon {
            width: 50px;
            height: 50px;
            border: 1px solid #000;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }

}